{:paths   ["src"]
 :deps    {com.taoensso/nippy        {:mvn/version "3.1.1"}
           org.clojure/tools.logging {:mvn/version "1.1.0"}}
 :aliases {:dev  {:extra-paths ["test"]
                  :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                                com.clojure-goes-fast/clj-async-profiler
                                {:mvn/version "0.5.0"}}}
           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha    {:mvn/version "1.0.861"}
                                org.clojure/test.check {:mvn/version "1.1.0"}}
                  :main-opts   ["-m" "kaocha.runner"]}}}
